* {
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.mainContent{
    min-height: 70vh;
}

.button{
    background-color: #F0C14B !important;
    color: #FFFFFF !important;
    border: 1px solid #797979 !important;
}